<div class="flexrow align-center gap-small">
  <label class="flex1">{{localize (concat "ESTEREN." stat)}}</label>
</div>
<div class="flexrow align-center gap-small">
  <input
    class="flex3"
    type="number"
    name="system.domaines.{{stat}}"
    value="{{displayValue}}"
  />
  <button type="button" class="roll-stat" data-stat="{{stat}}"><i class="fa-solid fa-dice-d20"></i></button>
</div>