<form class="esteren sheet actor">
  <div class="sheet-header">
    <h1>{{actor.name}}</h1>
    <h2>{{localize "ESTEREN.Actor.Character.SheetTitle"}}</h2>
  </div>

  <div class="sheet-body">
    <p>{{localize "ESTEREN.Actor.Character.VoieCombat"}}
      :
      {{system.voieCombat}}</p>
  </div>
</form>